/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Here ends RESET SYLESHEET */
/* ---------------------------------------------------- */

.nav-main{
	background: #f1f1f1;
	display: flex;
	flex-wrap: wrap;
	width: 1060px;
	height: 60px;
	position: absolute;
	top:0%;
	left: 50%;
	margin-left: -530px;
	z-index: 1000;
}
.nav-main ul{
	display: flex;
	padding-left: 100px;
}
.nav-main ul li{
	list-style: none;
	line-height: 60px;
}
.nav-main ul li:hover{
	background:rgb(217, 217, 217);
}
.nav-main ul li a{
	display: block;
	height: 100%;
	padding: 0 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #111;
	font-family: sans-serif;
	font-size: 16px;
}
.delete-item{
	background: rgb(209, 104, 123);
}
.dropdown-content:hover{
	background: rgb(216, 69, 96);
}
.dropdown-content {
    display: none;
    position: absolute;
    background: rgb(209, 104, 123);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1px 1px;
    z-index: 1;
}
#delete-all {
	font-size: 14px;
	padding:0 8px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.add-item{
	background-color: rgb(175, 247, 199);
	margin-left: 80px;
}
ul li.add-item:hover{
	background-color: rgb(136, 226, 166);
}
ul li.delete-item:hover{
	background-color: rgb(216, 69, 96);
}
.item-area{
	margin-top:60px;
	margin-bottom: 40px;
	width: 1060px;
	height: 200vh;
	position: relative;
	left: 50%;
	margin-left: -530px;
	background-color: rgb(175, 180, 188);
}
footer{
	height: 40px;
	width: 1060px;
	position: fixed;
	left:50%;
	margin-left: -530px;
	bottom:0%;
	background:#f1f1f1;
}
div.item{
	display: block;
	background: rgb(247, 247, 249);
	height: 130px;
	width: 180px;
	margin: 43px;
	padding: 3%;
	padding-top: 2%;
	border-style: ridge;
	border-width: 4px;
	border-color: rgb(155, 155, 165);
	float: left;

}
div.item:hover{
	background: rgb(147, 147, 249);
	border-color: rgb(255, 255, 165);
}
.item p{
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
}
.add-nav{
	margin-top:60px; 
	width: 500px;
	height: 400px;
	position: absolute;
	left:50%;
	margin-left: -250px;
	background: rgb(175, 180, 188);
	border-style: solid;
    border-color: #f1f1f1;
    border-width: 7px;
    border-top:none;
}
.item-info p{
	float:left;
	padding-right: 4px;
}
.centerize {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.info-center{
	display: block;
    margin: 1% auto;
    text-align: right;
    padding-right: 30%;
    padding-left: 30%;
}
.info{
	display: block;
    margin: 2% auto;
    text-align: center;
    height: 60px;
    background: #f1f1f1;
}
.title{
	padding: 12px;
	text-align: center;
	font-size: 22px;
	font-family: helvetica;
	color: rgb(65, 65, 107);
}
.form-error{
	box-shadow: 0 0 5px red;
}
#form-msg{
	padding-top: 20px;
	width: 400px;
	position: absolute;
	left:50%;
	margin-left: -200px;
}
